/* Changing the Font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');

body {
  
  font-family: 'Roboto Condensed', sans-serif;
}

a {
  color: #00B7FF;
}

/* padding foe main section */
main {
  padding: 25px;
}

.navbar-dark {
  background-color: #A50044;
  padding-left: 25px;
}
h1 {
  color: #D87722;
}

.nav-link {
  color: #1C2C5B;
}

fieldset{
  border: none;
  margin: 5px;
}
label{
  width: 130px;
}

fieldset {
  border: none;
  margin: 5px;
}

label {
  width: 130px;
}

thead {
  color: #b7e60c;
  background-color: #063672;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#A50044;
  color: #00B7FF;
  text-align: center;
}